@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
  background: #eaeaea;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-principal {
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contenedor {
  display: grid;
  gap: 40px;
  padding: 40px;
  border: 2px solid #000;
}

.caja {
  background: #fcfcfc;
  padding: 40px;
  font-size: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja.activa {
  background: #2553df;
  color: #fff;
}

button {
  border: none;
  background: #2553df;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  padding: 14px 28px;
  margin-bottom: 20px;
}

button:hover {
  background: #1942be;
}

button.back-color {
  background: #fff;
  color: #1942be;
  border: 1px solid #1942be;
}
