* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: #343e46;
}

a {
  text-decoration: none;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista {
  width: 500px;
}

.lista a {
  padding: 20px;
  font-size: 18px;
  display: block;
  background: #535e66;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease all;
}

.lista a:hover {
  background: #e86b19;
}

.lista a i {
  display: none;
}

.lista a.activo i {
  display: block;
}

.btn-agregar {
  background: #e86b19;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease all;
}

.btn-agregar:hover {
  background: #da6315;
}
